/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

/*div{*/
/*    border: 1px solid black;*/
/*}*/
div {
    /*height: 200px;*/
    width: 100%;
}

.container {
    border: 2px solid red;
}

p {
    border: 2px solid green;
    margin: 0;
}

h2 {
    border: 2px solid blue;
    margin: 0;
}
.coffee {
    border: 3px solid purple;
    width: 50%;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
}

h1 {
    text-align: center;
    border-bottom: 1pt solid lightgray;
}