* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

#outer-div {
    background-size: cover;
    position: relative;
}

#outer-image {
    opacity: 12%;
    position: absolute;
}

#main-container {
    position: relative;
    margin: auto;
    background-color: white;
    border: 12pt inset rosybrown;
}


h2 {
    font-size: 2em;
}

/*p {
    font-size: 1.5em;
    font-style: italic;
}*/

.coffee {
    width: 12em;
    margin-top: 2em;
}

.shoppingCartDiv {
    margin-top: 2em;
}

/*This is the <div> container for the <ul> shopping cart*/
#container {
    margin-top: .5em;
    padding: 1em;
    border-radius: 4pt;
}
/*This is the parent <ul> containing the dynamic <li> elements in the shopping cart*/
.list-group {
    margin-left: .5em;
    background-color: whitesmoke;

}
/*This points to the children <li> elements in the shopping cart*/
li {
    padding-left: .5em;
    border: 1pt solid lightgray;
    list-style: none;
}

#coffee-video-container {
    margin-top: 2em;
}

#coffee-video {
    width: 100%    !important;
    height: auto   !important;
}




