/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

/*div{*/
/*    border: 1px solid black;*/
/*}*/

h1 {
    text-align: center;
    border-bottom: 1pt solid lightgray;
}

#main-container {
    border: 1pt solid hotpink;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    font-style: italic;

    /*border: 1pt solid black;*/

}

.coffee {
    /*border: 1px solid hotpink;*/
    width: 13em;
}

#coffees {

}



